In [2]:
import pandas as pd 
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv(
    "../data/raw/sms_spam.tsv",
    sep="\t",
    header=None,
    names=["label", "text"]
)

df.head()

  label                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
df["label"].value_counts()

label
ham     4825
spam     747
Name: count, dtype: int64